<div class="contaner">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>Ring of Hobby!!</h1>
      <p class="mt-5">
        同じ趣味を持った方と情報交換ができ、<br />
        少しでも興味が出た段階で、<br />
        趣味を始めるチャンスを逃さないようにできるサイトです。
      </p>
    </div>
  </div>
</div>
